<mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/quiz/questions">
        <mat-icon mat-list-icon>quiz</mat-icon>Attend Quiz
    </button>
    <button mat-list-item routerLink="/quiz/add-question">
        <mat-icon mat-list-icon>add</mat-icon>Add question
    </button>
    <button mat-list-item routerLink="/quiz/delete-question">
        <mat-icon mat-list-icon>delete</mat-icon>Delete question
    </button>
    <button mat-list-item routerLink="/login">
        <mat-icon mat-list-icon>logout</mat-icon>Logout
    </button>
</mat-action-list>
