<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <mat-card>
                    <app-sidebar></app-sidebar>
                </mat-card>
            </div>
            <div class="col-md-9">
                <mat-card>
                    <h1 style="text-align: center;color: blueviolet;">General Quiz</h1>
                    <router-outlet></router-outlet>
                </mat-card>
            </div>
        </div>
    </div>
</div>

